India Vix data downloaded manually from `https://www.nseindia.com/reports-indices-historical-vix` from 01/01/2014 to 31/03/2025 for each financial year.<br>
Nifty50 Constituents data downloaded manually from `https://www.niftyindices.com/indices/equity/broad-based-indices/NIFTY-Next-50/NIFTY-50`<br>

In [1]:
import pandas as pd
df = pd.read_csv(r"Data\ind_nifty50list.csv")
df.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,EQ,INE423A01024
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS,EQ,INE742F01042
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP,EQ,INE437A01024
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT,EQ,INE021A01026
4,Axis Bank Ltd.,Financial Services,AXISBANK,EQ,INE238A01034

In [2]:
df['Symbol'] = df['Symbol'] + '.NS'

industry_abbr = {
    'Financial Services': 'FIN',
    'Metals & Mining': 'MET',
    'Services': 'SER',
    'Healthcare': 'HEA',
    'Consumer Durables': 'CND',
    'Automobile and Auto Components': 'AUT',
    'Capital Goods': 'CAP',
    'Oil Gas & Consumable Fuels': 'OIL',
    'Telecommunication': 'TEL',
    'Fast Moving Consumer Goods': 'FMCG',
    'Construction Materials': 'CON',
    'Information Technology': 'IT',
    'Consumer Services': 'CSR',
    'Construction': 'CST',
    'Power': 'POW'
}

df['Industry_Abbr'] = df['Industry'].map(industry_abbr)
df['Industry_Symbol_Abbr'] = df['Industry_Abbr'] + '_' + df['Symbol']
df.head()

,Company Name,Industry,Symbol,Series,ISIN Code,Industry_Abbr,Industry_Symbol_Abbr
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT.NS,EQ,INE423A01024,MET,MET_ADANIENT.NS
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS.NS,EQ,INE742F01042,SER,SER_ADANIPORTS.NS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP.NS,EQ,INE437A01024,HEA,HEA_APOLLOHOSP.NS
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT.NS,EQ,INE021A01026,CND,CND_ASIANPAINT.NS
4,Axis Bank Ltd.,Financial Services,AXISBANK.NS,EQ,INE238A01034,FIN,FIN_AXISBANK.NS

In [3]:
import yfinance as yf

tickers = df['Symbol'].to_list()
data = yf.download(tickers, start = "2014-04-01", end = "2025-03-31")["Close"]
data.index = pd.to_datetime(data.index).strftime('%Y-%m-%d')
data.head()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  50 of 50 completed

1 Failed download:
['ETERNAL.NS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2014-04-01 -> 2025-03-31) (Yahoo error = "Data doesn\'t exist for startDate = 1396290600, endDate = 1743359400")')

Ticker,ADANIENT.NS,ADANIPORTS.NS,APOLLOHOSP.NS,ASIANPAINT.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BEL.NS,BHARTIARTL.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.NS,TECHM.NS,TITAN.NS,TRENT.NS,ULTRACEMCO.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-01,49.782463,176.121231,866.770386,491.641815,281.327057,1559.641357,77.586571,171.196457,9.374093,267.473297,...,528.122925,134.829926,394.562469,13.467649,886.565613,350.965546,249.380875,98.494766,2070.728516,100.088699
2014-04-02,50.601120,175.837616,862.749817,478.953400,281.068451,1550.881348,78.271576,168.697083,9.219611,276.379150,...,531.030701,134.174332,405.279266,13.544868,884.752991,353.328400,249.569000,98.950714,2042.470825,100.953926
2014-04-03,49.634258,171.394440,875.338074,493.428253,274.880524,1550.692261,77.507141,168.143250,9.047685,272.011017,...,534.077087,132.469833,402.587799,13.350143,882.411133,349.383820,252.061371,99.071960,2060.605713,100.070862
2014-04-04,52.407787,170.023621,861.601074,486.190979,273.596985,1532.227783,77.700729,169.361649,9.438875,268.194275,...,527.845825,133.037979,396.862427,13.496184,871.149353,349.721405,253.754288,98.994362,2063.196289,98.723991
2014-04-07,53.473446,167.329330,855.426636,494.298676,272.428406,1527.469604,76.494492,170.276642,9.254494,269.254486,...,542.893066,132.382462,395.394379,13.652299,877.238464,345.844421,247.123581,97.742928,2135.497559,99.348373

In [4]:
symbol_abbr = pd.Series(df.Industry_Symbol_Abbr.values, index = df.Symbol).to_dict()
data.rename(columns = symbol_abbr, inplace = True)
sector_sorted_columns = sorted(data.columns, key=lambda x: x.split('_')[0])
data = data[sector_sorted_columns]
data.head()

Ticker,AUT_BAJAJ-AUTO.NS,AUT_EICHERMOT.NS,AUT_HEROMOTOCO.NS,AUT_M&M.NS,AUT_MARUTI.NS,AUT_TATAMOTORS.NS,CAP_BEL.NS,CND_ASIANPAINT.NS,CND_TITAN.NS,CON_GRASIM.NS,...,MET_HINDALCO.NS,MET_JSWSTEEL.NS,MET_TATASTEEL.NS,OIL_COALINDIA.NS,OIL_ONGC.NS,OIL_RELIANCE.NS,POW_NTPC.NS,POW_POWERGRID.NS,SER_ADANIPORTS.NS,TEL_BHARTIARTL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-01,1559.641357,523.047913,1576.083374,446.234528,1748.272217,394.562469,9.374093,491.641815,249.380875,413.290192,...,128.096542,88.295013,13.467649,124.794052,126.932755,209.658569,65.377556,39.228378,176.121231,267.473297
2014-04-02,1550.881348,530.518250,1576.048218,447.059967,1750.399902,405.279266,9.219611,478.953400,249.569000,409.743927,...,126.057404,89.033035,13.544868,123.247536,129.363205,213.128387,65.886848,39.373665,175.837616,276.379150
2014-04-03,1550.692261,532.152222,1576.503540,449.380096,1756.285400,402.587799,9.047685,493.428253,252.061371,408.242737,...,127.123306,91.251404,13.350143,120.498222,127.893173,211.893921,65.940445,39.482632,171.394440,272.011017
2014-04-04,1532.227783,523.073730,1576.713623,445.721405,1744.967285,396.862427,9.438875,486.190979,253.754288,408.257263,...,127.586746,91.864265,13.496184,121.013741,127.657974,210.025543,64.492996,38.719852,170.023621,268.194275
2014-04-07,1527.469604,522.511841,1568.623047,452.458618,1724.821289,395.394379,9.254494,494.298676,247.123581,412.942108,...,127.308685,91.367950,13.652299,122.001747,127.638359,210.003311,64.010490,38.828831,167.329330,269.254486

In [5]:
# Function to identify stocks with more than two consecutive NaNs
def remove_stocks_with_consecutive_nans(data, max_consecutive_nans=2):
    # Create a mask to track NaNs (excluding 'Date' column)
    nan_mask = data.iloc[:, 1:].isna()  # Exclude the 'Date' column

    # Initialize a list to keep track of columns to drop
    columns_to_drop = []

    # Loop through each column (stock) to check for consecutive NaNs
    for col in nan_mask.columns:  # Iterate over columns except 'Date'
        # Check for consecutive NaNs in the column
        consecutive_nans = nan_mask[col].astype(int).groupby((~nan_mask[col]).cumsum()).cumsum()

        # If the maximum count of consecutive NaNs is greater than the threshold, mark the column for dropping
        if consecutive_nans.max() > max_consecutive_nans:
            columns_to_drop.append(col)

    # Drop the identified columns from the original DataFrame (preserving the Date column)
    data = data.drop(columns=columns_to_drop)

    return data

# Remove stocks with more than two consecutive NaNs
data = remove_stocks_with_consecutive_nans(data)

data.to_csv(r"Data\Close_price.csv")
data.head()

Ticker,AUT_BAJAJ-AUTO.NS,AUT_EICHERMOT.NS,AUT_HEROMOTOCO.NS,AUT_M&M.NS,AUT_MARUTI.NS,AUT_TATAMOTORS.NS,CAP_BEL.NS,CND_ASIANPAINT.NS,CND_TITAN.NS,CON_GRASIM.NS,...,MET_HINDALCO.NS,MET_JSWSTEEL.NS,MET_TATASTEEL.NS,OIL_COALINDIA.NS,OIL_ONGC.NS,OIL_RELIANCE.NS,POW_NTPC.NS,POW_POWERGRID.NS,SER_ADANIPORTS.NS,TEL_BHARTIARTL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-01,1559.641357,523.047913,1576.083374,446.234528,1748.272217,394.562469,9.374093,491.641815,249.380875,413.290192,...,128.096542,88.295013,13.467649,124.794052,126.932755,209.658569,65.377556,39.228378,176.121231,267.473297
2014-04-02,1550.881348,530.518250,1576.048218,447.059967,1750.399902,405.279266,9.219611,478.953400,249.569000,409.743927,...,126.057404,89.033035,13.544868,123.247536,129.363205,213.128387,65.886848,39.373665,175.837616,276.379150
2014-04-03,1550.692261,532.152222,1576.503540,449.380096,1756.285400,402.587799,9.047685,493.428253,252.061371,408.242737,...,127.123306,91.251404,13.350143,120.498222,127.893173,211.893921,65.940445,39.482632,171.394440,272.011017
2014-04-04,1532.227783,523.073730,1576.713623,445.721405,1744.967285,396.862427,9.438875,486.190979,253.754288,408.257263,...,127.586746,91.864265,13.496184,121.013741,127.657974,210.025543,64.492996,38.719852,170.023621,268.194275
2014-04-07,1527.469604,522.511841,1568.623047,452.458618,1724.821289,395.394379,9.254494,494.298676,247.123581,412.942108,...,127.308685,91.367950,13.652299,122.001747,127.638359,210.003311,64.010490,38.828831,167.329330,269.254486

In [6]:
import numpy as np
log_returns = np.log(data / data.shift(1))
log_returns.head()

Ticker,AUT_BAJAJ-AUTO.NS,AUT_EICHERMOT.NS,AUT_HEROMOTOCO.NS,AUT_M&M.NS,AUT_MARUTI.NS,AUT_TATAMOTORS.NS,CAP_BEL.NS,CND_ASIANPAINT.NS,CND_TITAN.NS,CON_GRASIM.NS,...,MET_HINDALCO.NS,MET_JSWSTEEL.NS,MET_TATASTEEL.NS,OIL_COALINDIA.NS,OIL_ONGC.NS,OIL_RELIANCE.NS,POW_NTPC.NS,POW_POWERGRID.NS,SER_ADANIPORTS.NS,TEL_BHARTIARTL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-02,-0.005633,0.014181,-0.000022,0.001848,0.001216,0.026799,-0.016617,-0.026147,0.000754,-0.008618,...,-0.016047,0.008324,0.005717,-0.012470,0.018967,0.016414,0.007760,0.003697,-0.001612,0.032754
2014-04-03,-0.000122,0.003075,0.000289,0.005176,0.003357,-0.006663,-0.018824,0.029774,0.009937,-0.003670,...,0.008420,0.024611,-0.014481,-0.022560,-0.011429,-0.005809,0.000813,0.002764,-0.025593,-0.015931
2014-04-04,-0.011979,-0.017207,0.000133,-0.008175,-0.006465,-0.014324,0.042328,-0.014776,0.006694,0.000036,...,0.003639,0.006694,0.010880,0.004269,-0.001841,-0.008857,-0.022195,-0.019508,-0.008030,-0.014131
2014-04-07,-0.003110,-0.001075,-0.005145,0.015002,-0.011612,-0.003706,-0.019728,0.016538,-0.026478,0.011410,...,-0.002182,-0.005417,0.011501,0.008131,-0.000154,-0.000106,-0.007510,0.002811,-0.015973,0.003945

In [7]:
log_returns = log_returns.dropna(axis=1, how='all')
log_returns = log_returns.drop(log_returns.index[0])
log_returns.to_csv(r"Data\Log_returns.csv")
log_returns.head()

Ticker,AUT_BAJAJ-AUTO.NS,AUT_EICHERMOT.NS,AUT_HEROMOTOCO.NS,AUT_M&M.NS,AUT_MARUTI.NS,AUT_TATAMOTORS.NS,CAP_BEL.NS,CND_ASIANPAINT.NS,CND_TITAN.NS,CON_GRASIM.NS,...,MET_HINDALCO.NS,MET_JSWSTEEL.NS,MET_TATASTEEL.NS,OIL_COALINDIA.NS,OIL_ONGC.NS,OIL_RELIANCE.NS,POW_NTPC.NS,POW_POWERGRID.NS,SER_ADANIPORTS.NS,TEL_BHARTIARTL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-02,-0.005633,0.014181,-0.000022,0.001848,0.001216,0.026799,-0.016617,-0.026147,0.000754,-0.008618,...,-0.016047,0.008324,0.005717,-0.012470,0.018967,0.016414,0.007760,0.003697,-0.001612,0.032754
2014-04-03,-0.000122,0.003075,0.000289,0.005176,0.003357,-0.006663,-0.018824,0.029774,0.009937,-0.003670,...,0.008420,0.024611,-0.014481,-0.022560,-0.011429,-0.005809,0.000813,0.002764,-0.025593,-0.015931
2014-04-04,-0.011979,-0.017207,0.000133,-0.008175,-0.006465,-0.014324,0.042328,-0.014776,0.006694,0.000036,...,0.003639,0.006694,0.010880,0.004269,-0.001841,-0.008857,-0.022195,-0.019508,-0.008030,-0.014131
2014-04-07,-0.003110,-0.001075,-0.005145,0.015002,-0.011612,-0.003706,-0.019728,0.016538,-0.026478,0.011410,...,-0.002182,-0.005417,0.011501,0.008131,-0.000154,-0.000106,-0.007510,0.002811,-0.015973,0.003945
2014-04-09,0.004292,0.028056,0.002208,0.008885,0.014359,0.040980,0.019244,0.014992,0.005693,0.003034,...,0.039613,0.006122,0.029321,0.014507,-0.009722,0.018885,0.009586,-0.001404,0.035792,0.008313

India Vix data files combined together as needed and saved

In [8]:
import pandas as pd
import os
import glob # Library to find files matching a pattern

# Define the directory containing the VIX files
vix_data_dir = r"Data\India Vix" # Use raw string for Windows paths

# Define the desired date range
start_date = "2014-04-01"
end_date = "2025-03-31" # Adjust if your actual end date is different

# Define the expected column headers (based on your example)
# Note: Adjust these if your actual headers differ slightly (e.g., spacing, capitalization)
column_names = ['Date', 'Open', 'High', 'Low', 'Close', 'Prev. Close', 'Change', '% Change']

# Find all CSV files in the directory
# Using glob is often more flexible than os.listdir + filtering
csv_files = glob.glob(os.path.join(vix_data_dir, "*.csv"))

# Check if any files were found
if not csv_files:
    print(f"Error: No CSV files found in the directory: {vix_data_dir}")
else:
    print(f"Found {len(csv_files)} CSV files to process.")

    # List to hold individual DataFrames
    df_list = []

    # Loop through each found CSV file
    for file_path in csv_files:
        try:
            # Read the CSV, skipping the header row (header=None assumes no header)
            # skiprows=1 is another option if you are certain every file has exactly one header row
            temp_df = pd.read_csv(file_path, header=None, skiprows=1)
            df_list.append(temp_df)
            # print(f"Successfully read: {os.path.basename(file_path)}")
        except pd.errors.EmptyDataError:
            print(f"Warning: Skipping empty file: {os.path.basename(file_path)}")
        except Exception as e:
            print(f"Error reading file {os.path.basename(file_path)}: {e}")

    # Concatenate all DataFrames in the list
    if df_list: # Proceed only if at least one file was read successfully
        combined_vix_df = pd.concat(df_list, ignore_index=True)

        # Assign the correct column names
        combined_vix_df.columns = column_names

        # --- Data Cleaning and Formatting ---

        # 1. Convert 'Date' column to datetime objects
        #    Use the correct format string based on your example '01-APR-2014'
        try:
            combined_vix_df['Date'] = pd.to_datetime(combined_vix_df['Date'], format='%d-%b-%Y')
        except ValueError as e:
            print(f"Error parsing dates. Check date format in CSVs. Example error: {e}")
            # Optional: Add code here to inspect rows causing errors if needed
            # print(combined_vix_df[pd.to_datetime(combined_vix_df['Date'], format='%d-%b-%Y', errors='coerce').isna()])


        # 2. Sort DataFrame by date
        combined_vix_df = combined_vix_df.sort_values(by='Date')

        # 3. Set 'Date' as the index
        combined_vix_df = combined_vix_df.set_index('Date')

        # 4. Filter by the desired date range
        combined_vix_df = combined_vix_df.loc[start_date:end_date]

        # 5. Convert numeric columns to numeric types (float)
        #    Handle potential non-numeric values (like '-') by coercing them to NaN
        numeric_cols = ['Open', 'High', 'Low', 'Close', 'Prev. Close', 'Change', '% Change']
        for col in numeric_cols:
            # Strip whitespace that might interfere with conversion
            if combined_vix_df[col].dtype == 'object': # Only process if it's not already numeric
                 combined_vix_df[col] = combined_vix_df[col].astype(str).str.strip()
            combined_vix_df[col] = pd.to_numeric(combined_vix_df[col], errors='coerce')

        # 6. Optional: Handle potential duplicate dates (if files overlap)
        #    Keep the first occurrence for each date
        combined_vix_df = combined_vix_df[~combined_vix_df.index.duplicated(keep='first')]


        # --- Display Results ---
        print("\n--- Combined and Processed India VIX Data ---")
        print(f"Data range: {combined_vix_df.index.min()} to {combined_vix_df.index.max()}")
        print(f"Total trading days: {len(combined_vix_df)}")
        print("\nHead:")
        print(combined_vix_df.head())
        print("\nTail:")
        print(combined_vix_df.tail())

        # --- Optional: Save the combined data ---
        output_path = r"Data\India_Vix.csv"
        combined_vix_df.to_csv(output_path)
        print(f"\nCombined VIX data saved to: {output_path}")

    else:
        print("No dataframes were created. Check for errors during file reading.")

Found 11 CSV files to process.

--- Combined and Processed India VIX Data ---
Data range: 2014-04-01 00:00:00 to 2025-03-28 00:00:00
Total trading days: 2720

Head:
               Open     High      Low    Close  Prev. Close  Change  % Change
Date
2014-04-01  21.6225  21.6725  19.5425  20.6850      21.6225   -0.94     -4.34
2014-04-02  20.6850  21.2950  16.8575  21.2125      20.6850    0.53      2.55
2014-04-03  21.2125  22.3125  17.3075  22.1075      21.2125    0.90      4.22
2014-04-04  22.1075  22.8300  16.6675  22.6875      22.1075    0.58      2.62
2014-04-07  22.6875  25.4900  17.6925  24.9525      22.6875    2.27      9.98

Tail:
              Open     High      Low  Close  Prev. Close  Change  % Change
Date
2025-03-24  12.575  13.9525  12.5750  13.70        12.58    1.12      8.90
2025-03-25  13.700  14.4750  13.4900  13.64        13.70   -0.06     -0.44
2025-03-26  13.635  13.9150  13.3050  13.47        13.64   -0.17     -1.25
2025-03-27  13.470  13.8500  12.9775  13.30        13.47   -0.17     -1.26
2025-03-28  13.300  13.6100  12.5725  12.72        13.30   -0.58     -4.36

Combined VIX data saved to: Data\India_Vix.csv